@use '../../utils/tools' as *;

.voting-layout {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &__candidates {
    @include reset-list();

    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: calc(100% / 3);
    column-gap: 0.8rem;
    align-items: center;
  }

  &__person {
    &_2 {
      align-self: start;
    }

    &_5 {
      grid-row-start: 3;
      grid-column: 2 / 3;
      align-self: end;
    }

    &_4,
    &_6 {
      grid-row-start: 2;
    }

    &_6 {
      grid-column: 3 / 4;
    }

    &_7,
    &_8 {
      grid-row-start: 3;
    }

    &_8 {
      grid-column: 3 / 4;
    }
  }

  &__candidate-link {
    color: inherit;
  }

  &__button {
    @include horizontally-centered();
    @include reset-button();

    line-height: 0;

    fill: var(--color-light);

    transition: fill 0.4s;

    &:disabled {
      fill: var(--color-gray);
      pointer-events: none;
    }

    @include in-focus() {
      fill: var(--color-gray);
    }

    .theme_light & {
      fill: var(--color-yellow);

      &:disabled {
        fill: var(--color-gray-light);
      }

      @include in-focus() {
        fill: var(--color-yellow);
      }
    }

    &_prev {
      top: 2.3rem;

      transform: translateX(-50%) rotate(180deg);
    }

    &_next {
      bottom: 2.3rem;
    }
  }
}

@media (min-width: $phone-landscape-default-width) {
  .voting-layout {
    justify-content: center;
    padding-top: 0.5rem;

    &__candidates {
      grid-template-columns: 1fr 1fr 6.4rem 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      column-gap: 3.1rem;
      row-gap: 0.4rem;
      align-items: center;
      flex-grow: 0;
    }

    &__person {
      margin-bottom: 0;

      &_1 {
        grid-column: 1 / 2;
        grid-row: 1 / 3;
      }

      &_2 {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      &_3 {
        grid-column: 4 / 5;
        grid-row: 1 / 2;
      }

      &_4 {
        grid-column: 5 / 6;
        grid-row: 1 / 3;
      }

      &_5 {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
      }

      &_6 {
        grid-column: 4 / 5;
        grid-row: 2 / 3;
      }
    }

    &__button {
      &_prev {
        top: 19.5%;

        @media (min-height: $tablet-min-width) {
          top: 35%;
        }
      }

      &_next {
        bottom: calc(19.5% - 0.5rem);

        @media (min-height: $tablet-min-width) {
          bottom: calc(35% - 0.5rem);
        }
      }
    }
  }
}

@media (min-width: $tablet-min-width) {
  .voting-layout {
    padding-top: 0;

    &__candidates {
      grid-template-rows: 1fr 1fr 1fr;
      column-gap: 3vw;
      row-gap: 1vw;
      min-height: 65vh;
      padding: 1rem 0;
    }

    &__person {
      align-self: initial;

      &_5,
      &_6,
      &_7,
      &_8 {
        grid-row: 2 / 3;
      }

      &_5,
      &_8 {
        grid-row: 2 / 4;
      }

      &_5 {
        grid-column: 1 / 2;
      }

      &_6 {
        grid-column: 2 / 3;
      }

      &_7 {
        grid-column: 4 / 5;
      }

      &_8 {
        grid-column: 5 / 6;
      }

      &_9 {
        grid-column: 2 / 3;
      }

      &_10 {
        grid-column: 4 / 5;
      }
    }

    &__button {
      &_prev {
        top: calc(100% / 3);

        transform: translate(-50%, -50%) rotate(180deg);
      }

      &_next {
        bottom: calc(100% / 3);

        transform: translate(-50%, 50%);
      }
    }
  }
}
