svg.visually-hidden(xmlns='http://www.w3.org/2000/svg')
  defs
    symbol#button(viewbox='0 0 64 64')
      path(fill-rule='evenodd' clip-rule='evenodd' d='M32 62C48.5685 62 62 48.5685 62 32C62 15.4315 48.5685 2 32 2C15.4315 2 2 15.4315 2 32C2 48.5685 15.4315 62 32 62ZM32 64C49.6731 64 64 49.6731 64 32C64 14.3269 49.6731 0 32 0C14.3269 0 0 14.3269 0 32C0 49.6731 14.3269 64 32 64ZM59 32C59 46.9117 46.9117 59 32 59C17.0883 59 5 46.9117 5 32C5 17.0883 17.0883 5 32 5C46.9117 5 59 17.0883 59 32ZM25.0607 27.9393C24.4749 27.3536 23.5251 27.3536 22.9393 27.9393C22.3536 28.5251 22.3536 29.4749 22.9393 30.0607L30.9393 38.0607C31.5251 38.6464 32.4749 38.6464 33.0607 38.0607L41.0607 30.0607C41.6464 29.4749 41.6464 28.5251 41.0607 27.9393C40.4749 27.3536 39.5251 27.3536 38.9393 27.9393L32 34.8787L25.0607 27.9393Z')
    symbol#bar-s(viewbox='0 0 34 34')
      filter#a(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='33.9645' width='36' x='-1' y='.517754')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='1' dy='1')
        fegaussianblur(stddeviation='8')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.414167 0 0 0 0 0.414167 0 0 0 0 0.414167 0 0 0 0.2 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1')
        fegaussianblur(stddeviation='1')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0.2 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
      filter#b(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='22.9565' width='21' x='15' y='13.0435')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0.5 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fegaussianblur(result='effect2_foregroundBlur' stddeviation='1')
      filter#c(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='27.9645' width='37' x='-1' y='-1')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='10')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.643333 0 0 0 0 0.643333 0 0 0 0 0.643333 0 0 0 0.2 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-2')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0 0.98 0 0 0 0.8 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='.5')
      radialgradient#d(cx='0' cy='0' gradienttransform='matrix(-48.78191297 -16.61621909 368.48049461 -1081.78541194 30.2818 26.6165)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#fafafa')
        stop(offset='1' stop-color='#fafafa')
      radialgradient#e(cx='0' cy='0' gradienttransform='matrix(-30.50005465 -3.49984944 5.6361459 -49.1171866 31.5 21.5)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#eaeaea')
        stop(offset='.0001' stop-color='#e9e9e9')
        stop(offset='1' stop-color='#e4e4e4')
      radialgradient#f(cx='0' cy='0' gradienttransform='matrix(-31.99999033 -7.99985311 4.66288642 -18.65188251 35.5 15)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#fafafa')
        stop(offset='1' stop-color='#f8f8f8')
      mask#g(height='32' maskunits='userSpaceOnUse' width='34' x='0' y='1')
        path(d='m0 14.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.94122c1.4342-1.096756 3.4254-1.096755 4.8596 0l13 9.94122c.9897.7568 1.5702 1.9315 1.5702 3.1774v4.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='#2b1f00' opacity='.92')
      g(mask='url(#g)')
        g(filter='url(#a)')
          path(d='m0 13.9883c0-.6229.290262-1.2103.7851-1.5887l15-11.470559c.7171-.54838 1.7127-.548379 2.4298 0l15 11.470559c.4948.3784.7851.9658.7851 1.5887v6.0234c0 .6229-.2903 1.2103-.7851 1.5887l-15 11.4706c-.7171.5483-1.7127.5483-2.4298 0l-14.999999-11.4706c-.494838-.3784-.785101-.9658-.785101-1.5887z' fill='url(#d)' fill-opacity='.8')
        g(filter='url(#b)')
          path(d='m34 20.0117v-2.9645c0-1.6567-1.8989-2.5951-3.2149-1.5887l-13 9.9411c-.4948.3784-.7851.9658-.7851 1.5887v7.0117l16.2149-12.3996c.4948-.3784.7851-.9658.7851-1.5887z' fill='url(#e)' fill-opacity='.8')
        g(filter='url(#c)')
          path(d='m17 0-17 13 14.5702 11.1419c1.4342 1.0968 3.4254 1.0968 4.8596 0l14.5702-11.1419z' fill='url(#f)' fill-opacity='.9')
    symbol#bar-m(viewbox='0 0 34 41')
      filter#a(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='41.929' width='37' x='-1' y='.035515')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.815479 0 0 0 0 0.82293 0 0 0 0 0.904885 0 0 0 0.6 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.97 0 0 0 0 0.97 0 0 0 0 0.97 0 0 0 0.2 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
      filter#b(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='46' width='21' x='15' y='-3')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='8')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.783083 0 0 0 0 0.767481 0 0 0 0 0.76025 0 0 0 0.3 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.97 0 0 0 0 0.97 0 0 0 0 0.97 0 0 0 0.5 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='1')
      filter#c(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='26.929' width='37' x='-1' y='-.964485')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='3')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.858292 0 0 0 0 0.848099 0 0 0 0 0.843375 0 0 0 0.6 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-2')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 0.99 0 0 0 0 0.99 0 0 0 0 0.99 0 0 0 0.8 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='.5')
      radialgradient#d(cx='0' cy='0' gradienttransform='matrix(-33.28753802 -75.17072342 2442.20067095 -1081.46954022 25.3048 24.3353)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#eae8e8')
        stop(offset='1' stop-color='#eeedec')
      radialgradient#e(cx='0' cy='0' gradienttransform='matrix(-46.00003342 -44.00007812 1044.24444772 -1091.7089593 37.5 48.5002)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#e8e6e6')
        stop(offset='1' stop-color='#d6d3d1')
      radialgradient#f(cx='0' cy='0' gradienttransform='matrix(-39.99967024 -17.45049057 380.49391047 -872.16063555 30.4998 17.9502)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#f7f7f7')
        stop(offset='1' stop-color='#eae8e8')
      mask#g(height='40' maskunits='userSpaceOnUse' width='34' x='0' y='0')
        path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v12.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='#171100' opacity='.92')
      g(mask='url(#g)')
        g(filter='url(#a)')
          path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v12.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='url(#d)' fill-opacity='.9')
        g(filter='url(#b)')
          path(d='m34 27.0117v-14.0234c0-.6229-.2903-1.2103-.7851-1.5887l-16.2149-12.3996v42l16.2149-12.3996c.4948-.3784.7851-.9658.7851-1.5887z' fill='url(#e)' fill-opacity='.9')
        g(filter='url(#c)')
          path(d='m14.5702.858083-14.5702 11.141917 14.5702 11.1419c1.4342 1.0968 3.4254 1.0968 4.8596 0l14.5702-11.1419-14.5702-11.141917c-1.4342-1.096758-3.4254-1.096759-4.8596 0z' fill='url(#f)' fill-opacity='.9')
    symbol#bar-l(viewbox='0 0 34 57')
      filter#a(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='56.929' width='35' x='-1' y='.035515')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset
        fegaussianblur(stddeviation='10')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.69 0 0 0 0 0.225 0 0 0 0.4 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
      filter#b(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='57.913' width='21' x='15' y='1.087')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset
        fegaussianblur(stddeviation='10')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.69 0 0 0 0 0.225 0 0 0 0.4 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='1')
      filter#c(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='26.929' width='37' x='-1' y='-.964485')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='8')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.72 0 0 0 0 3.33786e-08 0 0 0 0.2 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-2')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.9 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='.5')
      radialgradient#d(cx='0' cy='0' gradienttransform='matrix(15.44673845 39.50002984 -23.15515779 9.05497205 1.5 17.5)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#fffffe')
        stop(offset='1' stop-color='#fff6e4')
      radialgradient#e(cx='0' cy='0' gradienttransform='matrix(0 70.5 -20.6638 0 25 6)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#ffeab4')
        stop(offset='1' stop-color='#ffe7b4')
      radialgradient#f(cx='0' cy='0' gradienttransform='matrix(-40.99971816 -8.4503428 184.2530617 -893.96652639 30.4998 17.9502)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='.0364583' stop-color='#fffaed')
        stop(offset='1' stop-color='#ffedc9')
      mask#g(height='56' maskunits='userSpaceOnUse' width='34' x='0' y='0')
        path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v28.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='#ff8080' opacity='.92')
      g(mask='url(#g)')
        g(filter='url(#a)')
          path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v28.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='url(#d)')
        g(filter='url(#b)')
          path(d='m34 42.0233v-28.0466c0-1.2459-.5805-2.4206-1.5702-3.1774l-9-6.88239c-2.632-2.01275-6.4298-.136-6.4298 3.17743v49.90566l15.4298-11.7993c.9897-.7568 1.5702-1.9315 1.5702-3.1774z' fill='url(#e)' fill-opacity='.8')
        g(filter='url(#c)')
          path(d='m14.5702.858083-14.5702 11.141917 14.5702 11.1419c1.4342 1.0968 3.4254 1.0968 4.8596 0l14.5702-11.1419-14.5702-11.141917c-1.4342-1.096758-3.4254-1.096759-4.8596 0z' fill='url(#f)' fill-opacity='.8')
    symbol#bar-xl(viewbox='0 0 34 73')
      filter#a(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='72.929' width='35' x='-1' y='.035507')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset
        fegaussianblur(stddeviation='10')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.69 0 0 0 0 0.225 0 0 0 0.4 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
      filter#b(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='78' width='21' x='15' y='-3')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset
        fegaussianblur(stddeviation='10')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.69 0 0 0 0 0.225 0 0 0 0.6 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-1' dy='1')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.5 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='1')
      filter#c(color-interpolation-filters='sRGB' filterunits='userSpaceOnUse' height='26.929' width='37' x='-1' y='-.964493')
        feflood(flood-opacity='0' result='BackgroundImageFix')
        feblend(in='SourceGraphic' in2='BackgroundImageFix' mode='normal' result='shape')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='2' dy='2')
        fegaussianblur(stddeviation='8')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 0.72 0 0 0 0 0 0 0 0 0.2 0')
        feblend(in2='shape' mode='normal' result='effect1_innerShadow')
        fecolormatrix(in='SourceAlpha' result='hardAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0')
        feoffset(dx='-2')
        fegaussianblur(stddeviation='.5')
        fecomposite(in2='hardAlpha' k2='-1' k3='1' operator='arithmetic')
        fecolormatrix(type='matrix' values='0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0.6 0')
        feblend(in2='effect1_innerShadow' mode='normal' result='effect2_innerShadow')
        fegaussianblur(result='effect3_foregroundBlur' stddeviation='.5')
      radialgradient#d(cx='0' cy='0' gradienttransform='matrix(39.50018604 95.50045922 -25.68792046 10.62484563 -5.5 9)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#ffdd9c')
        stop(offset='1' stop-color='#ffd363')
      radialgradient#e(cx='0' cy='0' gradienttransform='matrix(0 47 -10.7977 0 25 21)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#ffb800')
        stop(offset='1' stop-color='#ffef99' stop-opacity='.87')
      radialgradient#f(cx='0' cy='0' gradienttransform='matrix(-98.00021247 -30.45050476 663.94574689 -2136.80609827 30.4998 17.9502)' gradientunits='userSpaceOnUse' r='1')
        stop(offset='0' stop-color='#fffaed')
        stop(offset='1' stop-color='#ffb800')
      mask#g(height='72' maskunits='userSpaceOnUse' width='34' x='0' y='0')
        path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v44.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='#261c00' opacity='.92')
      g(mask='url(#g)')
        g(filter='url(#a)')
          path(d='m0 13.9767c0-1.2459.580524-2.4206 1.5702-3.1774l13-9.941217c1.4342-1.096759 3.4254-1.096758 4.8596 0l13 9.941217c.9897.7568 1.5702 1.9315 1.5702 3.1774v44.0466c0 1.2459-.5805 2.4206-1.5702 3.1774l-13 9.9412c-1.4342 1.0968-3.4254 1.0968-4.8596 0l-13-9.9412c-.989676-.7568-1.5702-1.9315-1.5702-3.1774z' fill='url(#d)')
        g(filter='url(#b)')
          path(d='m34 59.0117v-46.0234c0-.6229-.2903-1.2103-.7851-1.5887l-16.2149-12.3996v74l16.2149-12.3996c.4948-.3784.7851-.9658.7851-1.5887z' fill='url(#e)' fill-opacity='.4')
        g(filter='url(#c)')
          path(d='m14.5702.858083-14.5702 11.141917 14.5702 11.1419c1.4342 1.0968 3.4254 1.0968 4.8596 0l14.5702-11.1419-14.5702-11.141917c-1.4342-1.096758-3.4254-1.096759-4.8596 0z' fill='url(#f)' fill-opacity='.8')
