@use '../../utils/tools' as *;

.person-card {
  margin: 0;
  padding: 2rem 0.4rem;
  padding-bottom: 1.6rem;

  text-align: center;

  &_selected {
    position: relative;
  }

  &_low-position-selected {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;

    span.person-card__low-selected-position {
      position: static;

      min-width: 6rem;
      order: 1;
      margin-top: 0.9rem;
      padding-top: 0.6rem;

      border-top: 0.1rem solid var(--color-gray);

      .theme_light & {
        border-color: var(--color-dark);
      }

      transform: none;
    }
  }

  &__avatar {
    margin: 0 auto;

    border-radius: 50%;

    filter: grayscale(1);

    .theme_light & {
      filter: none;
    }
  }

  &__emoji {
    @include horizontally-centered();

    top: -0.2rem;
    z-index: 1;

    display: inline-block;

    font-size: 3.2rem;
    line-height: 3.2rem;
    vertical-align: top;
  }

  &__caption {
    line-height: 1;
  }

  &__full-name {
    margin-top: 0.6rem;
    margin-bottom: 0.4rem;
  }

  &__name,
  &__surname {
    display: block;
    overflow: hidden;

    font-weight: 500;
    font-size: var(--font-size-m);
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.theme_light .person-card__result {
  color: var(--color-dark);
}
